* {
    box-sizing: border-box;
    font-family: Inter;
}
body {
    background-image: url("/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn {
    background-color: #350888;
    color: white;
    font-size: large;
}
.btn:hover {
    background-color:#6245c9;
    color:white;
    transition: 0.5s;
}

form {
    font-size: large;
    background-color: rgb(255 255 255 / 90%);
    border-radius: 10px;
    padding: 4rem;
    max-height: 85vh;
    max-width: 100vw;
    overflow: scroll;
}

h1, h3 {
    color: #350888;
}

.myCol {
    font-size: large;
    background-color: rgb(255 255 255 / 90%);
    border-radius: 10px;
    overflow: scroll;
    margin: 1rem;
    padding: 1rem;
}